#m3:hover {
    color:aqua;
}

.formulario {
    border: 2px solid #000;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.staff {
    border: 2px solid;
    width: 50%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.staff2{
    border: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.padencias {

    border: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    
   } 

    
    